a {
  text-decoration: underline;
  color: #005f73;
}
a:hover {
  color: #005f73;
}

.bi {
  margin-right: 10px;
}


@font-face {
  font-family: 'handwriting';
  src:  url('../fonts/Handwriting2-Regular.ttf') format('truetype'),
        url('../fonts/Handwriting1-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.img-div {
  margin-bottom: 1rem;
}

p, li {
  font-size: .9rem;
  font-weight: 200;
}

.cspapertitle {
  font-weight: 300;
}

p.papers {
  font-weight: 100;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-word {
  font-family: handwriting;
  font-weight: 400;
}

h1 {
  font-family: handwriting;
  font-size: 2.9rem;
  font-weight: 500;
  margin-top: 2rem;
}

h2 {
  font-family: handwriting;
  font-size: 2.2rem;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;
}

h6 {
  font-family: handwriting;
  font-size: 1.8em;
  font-weight: 200;
}

img {
  opacity: .8;
  /*filter: grayscale(100%);*/
  border:  none;
  padding: .25rem !important;
}
img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

img.misc {
  max-height: 150px;
  
  width: auto;
  height: auto;
}

img.writing-img {
  max-width: 125px;
}

img.arttech-img {
  max-height: 150px;
  width: auto;
  height: auto;
}

img.meche-img {
  max-width: 150px;
}

img.visual-img {
  max-height: 150px;
  width: auto;
  height: auto;
}

