a {
  text-decoration: underline;
  color: #5D3FD3;
}
a:hover {
  color: #5D3FD3;
}


@font-face {
  font-family: 'handwriting';
  src:  url('../fonts/Handwriting2-Regular.ttf') format('truetype'),
        url('../fonts/Handwriting1-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.img-div {
  margin-bottom: 1rem;
}

p, li {
  font-size: 1rem;
  font-weight: 200;
}

.cspapertitle {
  color: black;
  font-size: 1em;
  font-weight: 400;
}

.paperlinks {
  font-size: .8em;
}

p.papers {
  font-weight: 200;
  color: grey;
}

p.is-small {
  font-size: .9em;
}

p.name {
  color: #5D3FD3;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabbed {
  margin-left: 20px;
}

.p-word {
  font-family: handwriting;
  font-weight: 400;
}

h1 {
  font-family: handwriting;
  font-size: 3rem;
  /*font-weight: 500;*/
  margin-top: 2rem;
}

.email{
  font-family: handwriting;
  font-size: 1.7rem;
}

h2 {
  /*font-family: handwriting;*/
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;
}

h3 {
  /*font-style: italic;*/
  font-size: 1em;
}

h6 {
  font-family: handwriting;
  font-size: 1.8em;
  font-weight: 200;
}

.icon {
  font-size: 1.2em;
}

svg.bi {
  width: 1em;
  margin-left: .25em;
  padding-bottom: .25em;
}

.faculty-alert {
  font-size: .85em;
/*  font-style: italic;*/
/*  font-weight: 400;*/
}

.faculty-text {
  font-size: .9em;
  padding-top: 5px;
}

.banner {
  border-radius: 15px;
  background: #5D3FD3;
  color: white;
  font-size: .9em;
  font-weight: 500;
  padding: 2px 10px;
  text-align: center;
}

/*.rounded-pill {
  background-color: #5D3FD3;
  
}*/

.topic {
  padding: 15px;
}

.callout {
  margin: 20px 0;
  padding: 0px 5px 0px 15px;
  border-left: 5px solid #eee;
  font-size: .95em;
}