a {
  text-decoration: underline;
  color: #5D3FD3;
}
a:hover {
  color: #5D3FD3;
}


@font-face {
  font-family: 'handwriting';
  src:  url('../fonts/Handwriting2-Regular.ttf') format('truetype'),
        url('../fonts/Handwriting1-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.img-div {
  margin-bottom: 1rem;
}

p, li {
  font-size: 1rem;
}

.cspapertitle {
  font-weight: 400;
}

p.papers {
  font-weight: 200;
  font-size: 1em;
}

p.name {
  color: #5D3FD3;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabbed {
  margin-left: 20px;
}

.p-word {
  font-family: handwriting;
  font-weight: 400;
}

h1 {
  font-family: handwriting;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 2rem;
}

h2 {
  /*font-family: handwriting;*/
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
  margin-top: 2rem;
}

h6 {
  font-family: handwriting;
  font-size: 1.8em;
  font-weight: 200;
}

img {
  opacity: .8;
  /*filter: grayscale(100%);*/
  border:  none;
  padding: .25rem !important;
}
img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

img.misc {
  max-height: 150px;
  
  width: auto;
  height: auto;
}

img.writing-img {
  max-width: 125px;
}

img.arttech-img {
  max-height: 150px;
  width: auto;
  height: auto;
}

img.meche-img {
  max-width: 150px;
}

img.visual-img {
  max-height: 150px;
  width: auto;
  height: auto;
}

div.card {
  /*background: #5D3FD3;*/
  border: 1px solid black;
  border-radius: 10px;
  padding: 50px 50px 50px 50px;
  align-content: center;
  font-size: .5em;
  /*max-width: 200px;*/
}
div.card:hover {
  cursor: pointer;
  color: #5D3FD3;
}
.mid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
.right {
  position: absolute;
  right: 0px;
  font-size: 2em;
}
.bottom {
  position: absolute;
  bottom: 0px;
  font-size: 2em;
}
.left {
  position: absolute;
  left: 0px;
  font-size: 2em;
}
.top {
  position: absolute;
  top: 0px;
  font-size: 2em;
}

:root {--factor: .5turn; }
.spin1::before{
  content: "↠";
  /*content: "∘";*/
}
.spin1 {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: calc(50% - 60px);
  transform-origin: 60px 0px;
  /*transform: rotate(.5turn);*/
  transform: rotate(var(--factor));
}

svg.bi {
  width: 1em;
  margin-left: .25em;
  padding-bottom: .25em;
}